/* HEADER */
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");
@media screen and (max-width: 1000px) {
  .logo {
    display: none;
  }
  #header {
    background-color: transparent;
    position: relative;
  }
  .imgprod {
    width: 32%;
  }
  .imgprods {
    width: 100%;
  }
  .textofooter {
    font-size: small;
  }
}
@media screen and (min-width: 1000px) {
  .tituloCEL {
    display: none;
  }
  .imgprod {
    width: 20%;
    margin-right: 1%;
  }
  .imgprods {
    width: 35%;
  }
}
.header {
  background-color: #E8C39E;
  font-size: x-large;
  width: 70%;
  margin-top: 1%;
  display: flex;
}

.logo {
  margin-left: 10%;
}

.nav-link:hover {
  color: black;
}

.navbar-texto {
  text-align: left;
}

.tituloCEL {
  color: #C20114;
  margin-top: 5%;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 187px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  text-align: center;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* CIERRO HEADER */
/* PRODUCTOS */
.prods {
  color: #C20114;
}

/* CIERRO PRODUCTOS */
/* NOSOTROS */
.titulonosotros {
  color: #C20114;
}

.rect {
  border: rgba(51, 50, 50, 0.5) 1px solid;
}

/* CIERRO NOSOTROS */
/* CONTACTO */
.titulocontacto {
  color: #C20114;
}

textarea {
  resize: none;
}

form {
  width: 70%;
}

.enviar {
  color: #fff;
  background-color: #5995da;
  border: none;
  border-radius: 3px;
  padding: 1% 2%;
  cursor: pointer;
  margin-left: 45%;
}

.enviar:hover {
  background-color: #76aeed;
}

/* CIERRO CONTACTO */
/*FOOTER*/
.redessociales {
  display: inline;
}

.redes {
  width: 5%;
  height: 5%;
}

.footer {
  text-align: center;
  width: 70%;
  margin-top: 1%;
}

a {
  color: black;
  text-decoration: none;
}

/*CIERRO FOOTER*/
.titulo {
  color: #C20114;
  margin-top: 11%;
}

.catalogo {
  background-color: #E8C39E;
  color: black;
  font-size: x-large;
}

.card-title {
  margin-top: 25%;
  font-size: 300%;
  color: black;
}

.btnvermas {
  margin-left: 42%;
}

.categoria {
  background-color: rgba(255, 255, 255, 0.5);
  /* padding: 1%; */
}

@media screen and (max-width: 1000px) {
  .card-title {
    font-size: 180%;
  }
  #estampado {
    margin-top: 15%;
  }
  .btnvermas {
    width: 40%;
    margin-left: 30%;
    font-size: 100%;
  }
}
@media screen and (max-width: 400px) {
  .btnvermas {
    font-size: 80%;
  }
  .card-title {
    font-size: 150%;
  }
}
.imgproduct {
  width: 48%;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  padding: 8%;
  margin-right: 1px;
}

.dot-containerI {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.dot-containerD {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

#d1 {
  background-color: rgb(223, 19, 19);
}

@media screen and (max-width: 1000px) {
  .especificacion {
    font-size: large;
  }
  #centrartext {
    text-align: center;
  }
  .centrarimg {
    display: block;
    margin: 2% auto 2% auto;
  }
  .centrarimgleft {
    display: block;
    margin: 2% auto 2% 26%;
  }
  .dot {
    margin-right: 1px;
    margin-left: 1px;
    padding: 7%;
  }
  .dot-containerI {
    width: 100%;
    justify-content: center;
  }
  .dot-containerD {
    width: 100%;
    justify-content: center;
  }
}
@media screen and (min-width: 1000px) {
  .centrarimg {
    margin-right: 1px;
  }
  .centrarimgleft {
    margin-left: 4px;
  }
  #JAC {
    display: none;
  }
  .dot-containerI {
    margin-left: 6%;
  }
  .dot-containerD {
    margin-right: 0;
  }
}
/*QUILT LISA*/
#ql1 {
  background-color: #ebe9ea;
}

#ql2 {
  background-color: #212121;
}

#ql3 {
  background-color: #bd3448;
}

#ql4 {
  background-color: #4891b4;
}

#ql5 {
  background-color: #1f3c5a;
}

#ql6 {
  background-color: #dad3c1;
}

#ql7 {
  background-color: #f2e7bf;
}

#ql8 {
  background-color: #9a9695;
}

#ql9 {
  background-color: #585856;
}

/*QUILT LUXURY */
#cql1 {
  background-color: #212121;
}

#cql2 {
  background-color: #ebe9ea;
}

#cql3 {
  background-color: #f2e7bf;
}

#cql4 {
  background-color: #dad3c1;
}

#cql5 {
  background-color: #9a9695;
}

/*CUBRECAMA JACQUARD*/
#cj1 {
  background-color: #dad3c1;
}

/*ACOLCHADO LISO*/
#al1 {
  background-color: #212121;
}

#al2 {
  background-color: #bd3448;
}

#al3 {
  background-color: #4891b4;
}

#al4 {
  background-color: #7600a9;
}

#al5 {
  background-color: #c8a2c8;
}

#al6 {
  background-color: #f2e7bf;
}

#al7 {
  background-color: #dad3c1;
}

#al8 {
  background-color: #800000;
}

#al9 {
  background-color: #7a2d0f;
}

#al10 {
  background-color: #1f3c5a;
}

#al11 {
  background-color: #000d33;
}

#al12 {
  background-color: #005221;
}

#al13 {
  background-color: #ffda58;
}

#al14 {
  background-color: #f400a1;
}

/*SABANA LISA*/
#sl1 {
  background-color: #212121;
}

#sl2 {
  background-color: #bd3448;
}

#sl3 {
  background-color: #4891b4;
}

#sl4 {
  background-color: #7600a9;
}

#sl5 {
  background-color: #c8a2c8;
}

#sl6 {
  background-color: #f2e7bf;
}

#sl7 {
  background-color: #dad3c1;
}

#sl8 {
  background-color: #800000;
}

#sl9 {
  background-color: #7a2d0f;
}

#sl10 {
  background-color: #1f3c5a;
}

#sl11 {
  background-color: #000d33;
}

#sl12 {
  background-color: #005221;
}

#sl13 {
  background-color: #ffda58;
}

#sl14 {
  background-color: #f400a1;
}

/*SABANA LUXURY LISO*/
#slu1 {
  background-color: #9a9695;
}

#slu2 {
  background-color: #585856;
}

#slu3 {
  background-color: #ebe9ea;
}

#slu4 {
  background-color: #bd3448;
}

#slu5 {
  background-color: #0e4bef;
}

#slu6 {
  background-color: #212121;
}

#slu7 {
  background-color: #f2e7bf;
}

#slu8 {
  background-color: #9c9695;
}

#slu9 {
  background-color: #dad3c1;
}

#slu10 {
  background-color: #edb28c;
}

#slu11 {
  background-color: #578152;
}

/*AJUSTABLE CLASICO*/
#ac1 {
  background-color: #212121;
}

#ac2 {
  background-color: #bd3448;
}

#ac3 {
  background-color: #4891b4;
}

#ac4 {
  background-color: #7600a9;
}

#ac5 {
  background-color: #c8a2c8;
}

#ac6 {
  background-color: #f2e7bf;
}

#ac7 {
  background-color: #dad3c1;
}

#ac8 {
  background-color: #800000;
}

#ac9 {
  background-color: #7a2d0f;
}

#ac10 {
  background-color: #1f3c5a;
}

#ac11 {
  background-color: #000d33;
}

#ac12 {
  background-color: #005221;
}

#ac13 {
  background-color: #ffda58;
}

#ac14 {
  background-color: #f400a1;
}

/*AJUSTABLE LUXURY*/
#alu1 {
  background-color: #9a9695;
}

#alu2 {
  background-color: #585856;
}

#alu3 {
  background-color: #ebe9ea;
}

#alu4 {
  background-color: #bd3448;
}

#alu5 {
  background-color: #0e4bef;
}

#alu6 {
  background-color: #212121;
}

#alu7 {
  background-color: #f2e7bf;
}

#alu8 {
  background-color: #9c9695;
}

#alu9 {
  background-color: #dad3c1;
}

#alu10 {
  background-color: #edb28c;
}

#alu11 {
  background-color: #578152;
}

/*CORTINA TROPICAL*/
#ct1 {
  background-color: #ebe9ea;
}

#ct2 {
  background-color: #212121;
}

#ct3 {
  background-color: #bd3448;
}

#ct4 {
  background-color: #f2e7bf;
}

#ct5 {
  background-color: #000d33;
}

#ct6 {
  background-color: #ffda58;
}

#ct7 {
  background-color: #1f3c5a;
}

#ct8 {
  background-color: #800000;
}

#ct9 {
  background-color: #268431;
}

#ct10 {
  background-color: #909090;
}

#ct11 {
  background-color: #dad3c1;
}

#ct12 {
  background-color: #9c9695;
}

#ct13 {
  background-color: #a7a493;
}

#ct14 {
  background-color: #fc9303;
}

#ct15 {
  background-color: #f400a1;
}

/*CORTINA BLACK OUT*/
#cb1 {
  background-color: #7cb9e8;
}

#cb2 {
  background-color: #a9957b;
}

#cb3 {
  background-color: #ebe9ea;
}

#cb4 {
  background-color: #800000;
}

#cb5 {
  background-color: #9a9695;
}

#cb6 {
  background-color: #585856;
}

#cb7 {
  background-color: #a7a493;
}

#cb8 {
  background-color: #c4ab89;
}

#cb9 {
  background-color: #ffda58;
}

#cb10 {
  background-color: #bd3448;
}

#cb11 {
  background-color: #dad3c1;
}

#cb12 {
  background-color: #212121;
}

/*CORTINA MADRAS*/
#cm1 {
  background-color: #ffda58;
}

#cm2 {
  background-color: #b4aabc;
}

#cm3 {
  background-color: #f2e7bf;
}

#cm4 {
  background-color: #944d43;
}

#cm5 {
  background-color: #4c4d44;
}

#cm6 {
  background-color: #ebe9ea;
}

#cm7 {
  background-color: #7cb9e8;
}

#cm8 {
  background-color: #800000;
}

#cm9 {
  background-color: #dad3c1;
}

#cm10 {
  background-color: #578152;
}

/*CORTINA VOILE*/
#cv1 {
  background-color: #ebe9ea;
}

#cv2 {
  background-color: #dad3c1;
}

/*CORTINA JACQUARD*/
#coj1 {
  background-color: #dad3c1;
}

/*MANTELES*/
#me1 {
  background-color: #212121;
}

#me2 {
  background-color: #ebe9ea;
}

#me3 {
  background-color: #dad3c1;
}

#me4 {
  background-color: #9a9695;
}

#me5 {
  background-color: #e7bd42;
}

#me6 {
  background-color: #7a2d0f;
}

#me7 {
  background-color: #800000;
}

#me8 {
  background-color: #bd3448;
}

#me9 {
  background-color: #578152;
}

#me10 {
  background-color: #edb28c;
}

/*ALMOHADA*/
#alm {
  background-color: #ebe9ea;
}

* {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

/*# sourceMappingURL=style.css.map */
