$colorTitulos:#C20114;
$colorBotones: #E8C39E;
$colorHeader: #E8C39E; 

$blanco: #ebe9ea;
$negro: #212121;
$rojo: #bd3448;
$celeste: #4891b4;
$azulMarino: #1f3c5a;
$natural: #dad3c1;
$beige: #f2e7bf;
$grisClaro: #9a9695;
$grisOscuro: #585856;
$violeta: #7600a9;
$lila: #c8a2c8;
$bordo: #800000;
$marron: #7a2d0f;
$azulFrancia: #000d33;
$verde: #005221;
$maiz: #ffda58;
$fucsia: #f400a1;
$verdeBenetton: #268431;
$gris: #909090;
$vison: #9c9695;
$cemento: #a7a493;
$naranja: #fc9303;
$aero: #7cb9e8;
$beigeOscuro: #a9957b;
$beigeClaro: #c4ab89;
$malva: #b4aabc;
$ladrillo: #944d43;
$grisPlata: #4c4d44;
$verdeAgua: #578152;
$azul: #0e4bef;
$salmon: #edb28c;
$dorado: #e7bd42;
