.imgproduct{
    width: 48%;
}
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

#d1{
    background-color: rgb(223, 19, 19);
}

/*CUBRECAMAS*/

/*QUILT ESTAMPADO*/

#qe1{
    background-color: #657c8e;
}

#qe2{
    background-color: #c8c2b2;
}

#qe3{
    background-color: #547a8d;
}

#qe4{
    background-color: #bab3a9;
}

#qe5{
    background-color: #d6736d;
}

/*QUILT ESTAMPADO*/

#ql1{
    background-color: #ebe9ea;
}
#ql2{
    background-color: #3c3c3a;
}
#ql3{
    background-color: #bd3448;
}
#ql4{
    background-color: #4891b4;
}
#ql5{
    background-color: #1f3c5a;
}
#ql6{
    background-color: #dad3c1;
}
#ql7{
    background-color: #bfac9b;
}
#ql8{
    background-color: #9a9695;
}
#ql9{
    background-color: #585856;
}

/*QUILT LUXURY */

#cql1{
    background-color: #d6d2d1;
}
#cql2{
    background-color: #9b9795;
}
#cql3{
    background-color: #c1b2a2;
}
#cql4{
    background-color: #373534;
}
#cql5{
    background-color: #d4cfc3;
}

/*CUBRECAMA JACQUARD*/
#cj1{
    background-color: #dddad0;
}