.imgproduct{
    width: 48%;
}
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

#d1{
    background-color: rgb(223, 19, 19);
}