@import '../base/listas';

.titulo{
    color: $colorTitulos;
    margin-top: 11%;
}

.catalogo{
    background-color: $colorBotones;
    color: black;
    font-size: x-large;
}

/* .categorias{
    width: 65%;
    height: 100%;
}
 */
.card-title{
    margin-top: 25%;
    font-size: 300%;
    color: black;
}

.btnvermas{
    margin-left: 42%;
}